@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <div class="text-center">
        <h1 class="display-4">Student Manager</h1>
        <p>Manage <a asp-controller="Course" asp-action="List">Courses</a> or <a asp-controller="Course" asp-action="Add">add a new Course</a></p>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
